apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-Deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      component: api #the deployment will control the pods with this label
  template:
    metadata:
      labels:
        component: api
    spec:
    
      containers:
        - name: api
          image: fhsinchy/notes-api
          ports:
            -  containerPort: 3000
          # add environment variables to be used in the containers
          env:
            - name: DB_CONNECTION
              value: pg